<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board Creation</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>

<body>
    <div id="wordDefinitions" data-words='{{ word_dic | safe }}'></div>
    <div id="board">
        {% for row in board %}
            {% for char in row %}
                <div draggable="false" class="board_letters" id="{{char}}{{ forloop.counter }}{{ forloop.parentloop.counter }}">
                    <label>{{char}}</label>
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div id="game_info">
        <label></label>
        <label id="current_word"></label>
        <br>
        <label id="score">0</label>
        <br>
        <label id="wrong_word"></label>

    </div>

    <script src="../static/js/board_funcs.js"></script>
</body>
</html>